/* Reset */
* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Dark Mode*/
#dark-mode-toggle {
    background-color: #333333;
    color: #fff;
    border: #fff;
    border-radius: 16px;
}

#dark-mode-toggle:hover {
    cursor: pointer;
    background-color: #666666;
}

body.dark-mode {
    background: #121212;
    color: #ddd;
}

body.dark-mode .bar .bar-item {
    color: #ddd;
}

body.dark-mode header {
    background: url('Assets/BGI1.jpg') no-repeat center center/cover;
    /*background-attachment: fixed;*/
}

body.dark-mode nav ul li a {
    color: #ddd;

}

body.dark-mode #about {
    color: #ddd;
}

body.dark-mode #about .container .para-container {
    color: #ddd;
    background: #1e1e1e;
}

body.dark-mode #about .education-item,
body.dark-mode #about .work-ex-item {
    background: #1e1e1e;
}

body.dark-mode #skills {
    background: #1e1e1e;

}

body.dark-mode #skills h2 {
    color: #ddd;

}

body.dark-mode #skills .skill {
    background: #555;
}

body.dark-mode #skills .skill h3 {
    color: #ddd;
}

body.dark-mode #skills ul li {
    background: #555;
}

body.dark-mode .progress-bar {
    background: #777777;
}

body.dark-mode .progress {
    background: #1e1e1e;
}

body.dark-mode #projects h2 {
    color: #ddd;
}

body.dark-mode #projects .project {
    background: #555;
    color: #ddd;
}

body.dark-mode #projects .project .project-details h3,
body.dark-mode #projects .project .project-details p {
    color: #ddd;
}

body.dark-mode .container h2 {
    color: #ddd
}

body.dark-mode #certificates-section {
    background: #1e1e1e;
}

body.dark-mode #certificates-section h2 {
    color: #ddd;
}

body.dark-mode .certificate {
    color: #ddd;
    background-color: #555;
    border: 1px solid #555
}

body.dark-mode .certificate h3,
body.dark-mode .certificate p,
body.dark-mode .certificate .description-txt-align p {
    color: #ddd;
}

body.dark-mode #contact {
    color: #ddd;
}

body.dark-mode #contact-form input,
body.dark-mode #contact-form textarea {
    background: #ddd;
}

body.dark-mode #pagination span {
    color: #777777;
}

body.dark-mode #certificates-section h3 {
    color: #ddd;
}

body.dark-mode .flipbook-page {
    background: #555;
}

body.dark-mode .dot.active {
    background: #333;
}

/*--------------------------------------------------------------------------------------------------------*/
/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    background-color: #d5ccc7;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Header Styles */
header {
    background: url('Assets/BGI1.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 50px 0;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*background-attachment: fixed;*/
    /*to make image have parallax effect*/
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: bold;
}

header p {
    font-size: 1.2em;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #f4f4f4;
}

/*--------------------------------------------------------------------------------------------------------*/
/* resume button */
.resume-button {
    text-align: center;
    display: block;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ffffff;
    width: 185px;
    align-items: center;
    margin: 0 auto;
    font-size: 25px;
    padding: 10px 10px;
}

.resume-button:hover {
    background-color: #777777;
    width: 190px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Navbar */
.top {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bar {
    background-color: #28262b;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar .bar-item {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: #d5ccc7;
    transition: background-color 0.3s;
}

.bar .bar-item:hover {
    background-color: #d5ccc7;
    color: #28262b;
}

.bar .button {
    border: none;
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.bar .button:hover {
    background-color: #d5ccc7;
    color: #28262b;
}

.hide-small {
    display: block !important;
}

.bar .hover-black {
    display: none !important;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .bar .bar-item.hover-black {
        display: block !important;
    }

    .bar .hide-small {
        display: none !important;
    }

    .bar-block {
        display: block;
    }

    .resume {
        display: none;
    }
}

.bar-block .bar-item {
    display: block;
    width: 100%;
    text-align: right;
    padding: 8px 16px;
    color: #d5ccc7;
    transition: background-color 0.3s;
    background-color: #28262b;
    text-decoration: none;
}

.bar-block .bar-item:hover {
    background-color: #d5ccc7;
    color: #28262b;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Navbar on small screens */
#navDemo {
    display: none;
}

#navDemo.show {
    display: block !important;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Section Styles */
section {
    padding: 50px 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------------*/
/*about*/
#about .container .para-container {
    color: #333;
    padding: 20px;
    border: 1px solid #a9a29c;
    border-radius: 5px;

}

/*Education*/
.education-section {
    margin-top: 20px;
}

.education-section h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/*#d5ccc7*/
.education-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #a9a29c;
    border-radius: 8px;
}

.education-item h4 {
    margin: 0;
}

.education-item p {
    margin: 5px 0;
}

/*Work Experience*/
.work-ex-section {
    margin-top: 20px;
}

.work-ex-section h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.work-ex-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #a9a29c;
    border-radius: 8px;
}

.work-ex-item h4 {
    margin: 0;
}

.work-ex-item p {
    margin: 5px 0;
}

/*Profile Picture in about*/
.profile {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 300px;
    height: 325px;
}

/*----------------------------------------------------------------------------------------------*/
/* Skills */
/* General styles for skills section */
#skills {
    background-color: #a9a29c;
    padding: 50px 0;
}

#skills h2 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 40px;
}

/* Container for the skills */
#skills .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styles for individual skill */
.skill {
    margin-bottom: 30px;
    background-color: #d5ccc7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill #logo {
    padding: 12px;
}

.skill h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.skill h3 i {
    margin-right: 10px;
}

.progress-bar {
    background-color: #a9a29c;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
}

.progress {
    height: 100%;
    background-color: #666666;
    transition: width 0.6s ease;
}

/* Styles for the skill list */
.skill ul {

    list-style: none;
    padding: 0;

}

.skill ul li {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.skill ul li i {
    margin-right: 10px;
}

/* Hover effects for the skill cards */
.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (min-width: 480px) and (max-width: 768px) {
    .skill h3 {
        font-size: 1.2em;
    }

    .progress-bar {
        height: 15px;
    }

    .skill ul li {
        font-size: 1em;
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/* Projects */
/* General styles for project section */
#projects {
    padding: 50px 0;
}

#projects h2 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    /* margin-bottom: 10px; */
}

/* Container for the projects */
#projects .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}

/* Styles for individual projects */
.project {
    display: flex;
    flex-wrap: wrap;
    background-color: #a9a29c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-bottom: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.project img {
    width: auto;
    max-width: 150px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project-details {
    flex: 1;
    padding: 20px;
}

.project-details h3 {
    color: #333;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.project-details p {
    color: #333333;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.project-details a {
    display: inline-block;
    color: #fff;
    background-color: #333333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-details a:hover {
    background-color: #666666;
}

/* Hover effects for the project cards */
.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Pagination styles */

#category-selection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}


#category-selection button {
    background-color: #333333;
    color: white;
    text-decoration: solid;
    border: none;
    padding: 50px 50px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    z-index: 1;
}

#category-selection button.small {
    padding: 20px 20px;
    /* Adjust to smaller size */
    font-size: 0.9em;
    /* Optional: reduce font size */
    transition: all 0.3s ease;
}

#category-selection #workCategory::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Assets/Professional.JPG') no-repeat center center/cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

#category-selection #workCategory:hover::before {
    opacity: 0.3;
}

#category-selection #collegeCategory::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Assets/Personal.jpg') no-repeat center center/cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

#category-selection #collegeCategory:hover::before {
    opacity: 0.3;
}

#category-selection button:hover {
    transform: scale(0.9);
    behavior: 'smooth';
}

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    position: relative;
}

#pagination a {
    text-decoration: none;
}

#pagination button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#pagination button:hover {
    background-color: #666666;
}

#pagination span {
    font-size: 1.25em;
    font-weight: bold;
    color: #333333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 30px;
    /* Adjust this if your numbers are wider */
    text-align: center;
}

#prevPage {
    margin-right: auto;
}

#nextPage {

    margin-left: auto;
}

#pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsive styles */
@media (min-width: 480px) and (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project img {
        max-width: 100px;
        width: 100%;
        padding: 10px;
        border-radius: 8px 8px 0 0;
    }

    .project-details {
        padding: 15px;
    }

    .project-details h3 {
        font-size: 1.5em;
    }

    .project-details p {
        font-size: 0.9em;
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/* Certificates Section */
#certificates-section {
    padding: 50px 0;
    text-align: center;
    background-color: #a9a29c;
    overflow: hidden;
    height: max-content;
    behavior: "smooth";
}

.flipbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

#flipbook-content {
    display: flex;
    justify-content: space-between;
    width: 900px;
    perspective: 1500px;
}

.flipbook-page {
    width: 420px;
    height: 330px;
    padding: 20px;
    background-color: #d5ccc7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 15px;
    transition: transform 0.5s ease;
}

.flipbook-page img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

#left-page {
    text-align: left;
    font-size: 1.3em;
}

.flipbook-container button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3em;
    cursor: pointer;
    border-radius: 25%;
}

.flipbook-container button p {
    cursor: pointer;
}

/* Dot navigation styles */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #d5ccc7;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
}

@media(min-width: 480px) and (max-width: 768px) {
    #flipbook-content {
        width: 100%;
        /* Make the container take the full width */
        flex-direction: column;
        /* Stack pages vertically */
        align-items: center;
        /* Center align for better visibility */
        perspective: 1200px;
        /* Adjust perspective for smaller screens */
    }

    .flipbook-page {
        width: 100%;
        /* Make the pages take most of the screen width */
        /* height: 340px; */
        /* Adjust the height for mobile */
        margin: 15px 0;
        /* Add vertical margin between pages */
        padding: 15px;
        /* Reduce padding to fit smaller screens */
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        /* Slightly reduce shadow */
    }

    .flipbook-page h3 {
        font-size: 1.5em;
    }

    .flipbook-page p {
        font-size: 1.05em;
    }

    .flipbook-container button {
        font-size: 2em;
        /* Decrease button size */
        padding: 5px 15px;
        /* Add padding for better tap targets */
    }

    .flipbook-container button p {
        font-size: 1.5em;
        /* Reduce font size in buttons */
    }

    #left-page {
        font-size: 1em;
        /* Adjust font size for smaller screens */
        text-align: center;
        /* Center text on smaller screens */
    }

    .dots-container {
        margin-top: 20px;
    }

    .dot {
        height: 10px;
        /* Slightly reduce dot size */
        width: 10px;
        margin: 0 4px;
    }
}


/*--------------------------------------------------------------------------------------------------------*/
/* Contact */
#contact {
    color: black;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border: 1px solid #333333;
    background: #fff;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#contact-form button:hover {
    background: #666666;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Footer */
footer {
    background: #28262b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .socials a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .socials a:hover {
    color: #d5ccc7;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Add animations */
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.animate.animated {
    opacity: 1;
    transform: translateY(0);
}

/*--------------------------------------------------------------------------------------------------------*/
/*Back to Top Button*/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    /* Initially hidden */
    background: none;
    /* No background for the button */
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

#cube {
    will-change: transform;
    /* Hint browser for optimization */
    transform-style: preserve-3d;
    transform-origin: center;
    animation: rotateCube 4s infinite;
    /* Play an animation with the same speed from beginning to end:use linear in animation */
}

/* Style the arrow */
.arrow {
    fill: #fff;
    font-size: 36px;
    /* Adjust size as needed */
    font-family: Arial, sans-serif;
    /* Ensure proper font rendering */
}

.face {
    fill: #28262b;
    stroke: #d5ccc7;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 3;
    transform-origin: center;
    transform-style: preserve-3d;
}

/* Position face of the cube */
.square {
    transform: translateZ(30px);
}

/* Animation to rotate the cube */
@keyframes rotateCube {
    from {
        transform: rotateX(0) rotateY(0);
        /* Start at 0 rotation */
    }

    to {
        transform: rotateX(0deg) rotateY(360deg);
        /* Full rotation */
    }
}

/* Pause the animation when hovering */
#back-to-top:hover #cube {
    animation-play-state: paused;
}

/* Media query for smaller screens */
@media (min-width: 480px) and (max-width: 768px) {
    #back-to-top {
        width: 60px;
        /* Smaller width */
        height: 60px;
        /* Smaller height */
        bottom: 15px;
        /* Adjust bottom positioning */
        right: 15px;
        /* Adjust right positioning */


    }

    #back-to-top svg {
        width: 100%;
        /* Slightly smaller size for the arrow */
        height: 100%;
    }

    .face {
        fill: #28262b;
        stroke: #d5ccc7;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-width: 3;
        transform-origin: center;
        transform-style: preserve-3d;
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/* Responsive Design */
@media(min-width: 480px) and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 90%;
    }
}

@media(max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    header p {
        font-size: 1em;
    }

    nav ul li {
        margin: 5px 0;
    }

    section {
        padding: 40px 0;
    }

    h2 {
        font-size: 1.5em;
    }

    #skills ul li {
        flex: 1 1 100%;
    }
}

/* --------------------------------------------------------------------------------------------------- */